/*  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
   background-image: url('./images/img-2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */



#movies img,
#movie img{
  width:100%;
}
.brand-text{
  font-size: 2rem;

}

#react-logo{
  color: #00d8ff;
}
#imdb-logo{
  color: #f5de50;
}
@media (min-width: 960px){
  #movies .col-md-3 .well{
    height:390px;
  }
  #movies .col-md-3 img{
    height: 240px;
  }
}